<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<form method="post" th:action="@{/change-password}" onsubmit="return validatePassword()">
    <input placeholder="New password" type="password" name="password" id="password" required autofocus />
    <input placeholder="Confirm password" type="password" id="confirmPassword" onkeyup="validatePassword()" required />
    <button type="submit" th:text="CHANGE"></button>
</form>
<script>
    let password = document.getElementById("password"), confirm_password = document.getElementById("confirmPassword");
    function validatePassword() {
        if(password.value !== confirm_password.value) {
            confirm_password.style.background = "red"
            password.style.background = "white"
            return false;
        } else {
            confirm_password.style.background = "lightgreen"
            password.style.background = "lightgreen"
            return true;
        }
    }
</script>
</body>
</html>